TELEGRAM_TOKEN=xxx
DEEPSEEK_API_KEY=xxx
DEEPSEEK_MODEL=deepseek-chat
GEMINI_API_KEY=xxx
GEMINI_MODEL=gemini-3.1-flash-lite-preview
GROQ_API_KEY=xxx
GROQ_MODEL=llama-3.3-70b-versatile
DISCORD_TOKEN=xxx
